@import '_variables';

.sub-content {
  display: flex;
  flex: 1;

  &--column {
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }
}

.statistics {
  &__widget {
    display: flex;
    flex: 1;
    padding: $app--padding;
  }

  &__content {
    display: flex;
    flex: 1;
  }
}

.statistic {
  &__label {
    text-align: left;
  }
  &__value {
    min-width: 100px;
    text-align: right;
  }
}
