@import '_variables';

.sub-content {
  display: flex;
  flex: 1;

  &--column {
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }
}

.statistics {
  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__chart {
    margin: 25px 0;
  }
}
