<div class="page">
  <form
    class="form"
    #seriesForm="ngForm"
    (ngSubmit)="onSubmit($event)"
    novalidate
    autocomplete="off"
  >
    <div class="
    button-group
    button-group--right">
      <app-nav-link [to]="cancelUrl">Cancel</app-nav-link>
      <app-rbn-button
        type="submit"
        [theme]="primary"
      >Save</app-rbn-button>
    </div>
    <div class="form__content">
      <app-input-box
        class="form__input"
        label="Name"
        name="name"
        [value]="series.name"
        (change)="onInput($event)"
      ></app-input-box>
      <app-select-box
        class="form__input"
        label="Type"
        name="type"
        [value]="series.type"
        [options]="types"
        [required]="true"
        (change)="onInput($event)"
      ></app-select-box>
      <app-input-box
        class="form__input"
        type="number"
        label="Ending Volume"
        name="volumeCount"
        min="0"
        [value]="series.volumeCount"
        (change)="onInput($event)"
      ></app-input-box>
    </div>
  </form>
</div>