<div class="page">
  <app-loading-bouncer *ngIf="isLoading"></app-loading-bouncer>
  <form
    class="form"
    [formGroup]="seriesForm"
    (ngSubmit)="onSubmit()"
    novalidate
    autocomplete="off"
  >
    <div class="form__content">
      <app-input-box
        type="hidden"
        name="id"
        formControlName="id"
      ></app-input-box>
      <app-input-box
        class="form__input"
        label="Name"
        name="name"
        formControlName="name"
        [required]="true"
      ></app-input-box>
      <app-select-box
        class="form__input"
        label="Type"
        name="type"
        formControlName="type"
        [options]="types"
        [required]="true"
      ></app-select-box>
      <app-select-box
        class="form__input"
        label="Status"
        name="status"
        formControlName="status"
        [options]="statuses"
        [required]="true"
      ></app-select-box>
      <app-input-box
        class="form__input"
        type="number"
        label="Ending Volume"
        name="volumeCount"
        formControlName="volumeCount"
        min="0"
      ></app-input-box>
      <div
        class="
    button-group
    button-group--right"
      >
        <app-nav-link [to]="cancelUrl" [queryParams]="cancelQueryParams"
          >Cancel</app-nav-link
        >
        <app-rbn-button type="submit" theme="primary">Save</app-rbn-button>
      </div>
      <app-tabs>
        <app-tab name="volumes">
          <div class="sub-content sub-content--column">
            <div class="sub-content__header">
              <app-rbn-button theme="secondary" (click)="onAddVolume()">
                Add
              </app-rbn-button>
            </div>
            <app-list
              columns="one"
              [isAsync]="false"
              [items]="volumes.controls"
              formArrayName="volumes"
            >
              <ng-template let-item="item" let-i="index">
                <div class="form__array-item-wrapper" [formGroupName]="i">
                  <app-input-box
                    type="hidden"
                    name="{{ i }}.id"
                    formControlName="id"
                  ></app-input-box>
                  <app-input-box
                    class="form__input form__input--integer"
                    type="number"
                    label="Number"
                    name="{{ i }}.number"
                    formControlName="number"
                    min="1"
                    [required]="true"
                  ></app-input-box>
                  <div class="form__group">
                    <app-input-box
                      class="form__input form__input--date"
                      type="date"
                      label="Released"
                      name="{{ i }}.releaseDate"
                      formControlName="releaseDate"
                    ></app-input-box>
                    <app-input-box
                      class="form__input form__input--date"
                      type="date"
                      label="Bought"
                      name="{{ i }}.boughtDate"
                      formControlName="boughtDate"
                    ></app-input-box>
                  </div>

                  <div class="form__group">
                    <app-input-box
                      class="form__input form__input--float"
                      type="number"
                      label="RRP"
                      name="{{ i }}.rrp"
                      formControlName="rrp"
                      min="0"
                      step="0.01"
                    ></app-input-box>
                    <app-input-box
                      class="form__input form__input--float"
                      type="number"
                      label="Paid"
                      name="{{ i }}.paid"
                      formControlName="paid"
                      min="0"
                      step="0.01"
                    ></app-input-box>
                  </div>

                  <div class="form__group">
                    <app-autocomplete
                      label="Retailer"
                      name="{{ i }}.retailer"
                      formControlName="retailer"
                      [options]="retailers"
                    ></app-autocomplete>

                    <app-tickbox
                      class="form__input"
                      label="Used Discount Code"
                      name="{{ i }}.usedDiscountCode"
                      formControlName="usedDiscountCode"
                    >
                      Used Discount Code
                    </app-tickbox>
                  </div>

                  <div
                    class="button-group button-group--stacked form__button-group"
                  >
                    <app-rbn-button
                      *ngIf="!data.isCreate && item.value"
                      title="Save Volume"
                      [icon]="saveIcon"
                      (click)="onSaveVolume(i)"
                      [disabled]="item.pristine"
                    ></app-rbn-button>
                    <app-rbn-button
                      title="Remove Volume"
                      [icon]="crossIcon"
                      (click)="onRemoveVolume(i)"
                    ></app-rbn-button>
                  </div>
                </div>
              </ng-template>
            </app-list>
          </div>
        </app-tab>
        <app-tab name="statistics">
          <div class="sub-content">
            <div class="sub-content__header"></div>
            <div class="statistics__content">
              <app-aggregate-widget [items]="statistics"></app-aggregate-widget>
              <div class="statistic-chart" #chartRef>
                <ngx-charts-line-chart
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="statisticsChartData"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  autoScale="autoScale"
                >
                  <!--
                    <ng-template
                      #tooltipTemplate
                      let-model="model"
                    >
                      <div>{{model.series}} . {{model.name}}</div>
                      <div>£{{model.value}}</div>
                    </ng-template>
                  -->
                </ngx-charts-line-chart>
              </div>
            </div>
          </div>
        </app-tab>
      </app-tabs>
    </div>
  </form>
</div>
