@import '_variables';

.header {
  display: flex;
  position: fixed;
  width: 100%;
  height: $header--height;
  z-index: map-get($z-index, header);

  &--page-scrolled {
    box-shadow: 0px 2px 5px 1px #000;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: 1.625em;
  }
}
