<div
  *ngIf="itemCount || itemCount === 0"
  class="list-count"
>
  Showing {{itemCount}} items
</div>
<ul
  *ngIf="isAsync"
  [class]="listClasses"
>
  <li
    *ngFor="let item of items | async; let i = index;"
    [class]="listItemClasses"
  >
    <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item, index: i };"></ng-container>
  </li>
</ul>
<ul
  *ngIf="!isAsync"
  [class]="listClasses"
>
  <li
    *ngFor="let item of items; let i = index;"
    [class]="listItemClasses"
  >
    <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item, index: i };"></ng-container>
  </li>
</ul>