@import '_variables';

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.purchase-item {
  display: flex;
  flex: 1;
  padding: $app--padding;

  &--header {
    font-weight: bold;
    padding: #{$app--padding * 2} 0;
    margin-top: $app--margin-large;
  }

  // space saving attempt
  &__date-column {
    max-width: 110px;
  }

  &__data {
    position: relative;
    display: flex;
    flex: 1;

    &--spaced {
      justify-content: space-between;
      > div:last-child {
        margin-right: $app--margin-small;
      }
    }
    &--align_right {
      justify-content: flex-end;
    }
  }

  &__icon {
    position: absolute;
    top: -5px;
    right: -10px;
    z-index: map-get($z-index, above-siblings);
  }
}
