<div class="filter-bar">
  <app-datepicker
    class="filter-bar__input"
    id="fromDate"
    name="fromDate"
    label="From"
    required="true"
    [afterDate]="whenRecordsBegan"
    [beforeDate]="values.toDate"
    [(ngModel)]="values.fromDate"
    (ngModelChange)="onInput()"
  ></app-datepicker>
  <app-datepicker
    class="filter-bar__input"
    id="toDate"
    name="toDate"
    label="To"
    required="true"
    [afterDate]="values.fromDate"
    [(ngModel)]="values.toDate"
    (ngModelChange)="onInput()"
  ></app-datepicker>

  <app-radio-button-group
    id="type"
    [column]="true"
    [options]="seriesTypeOptions"
    [(ngModel)]="values.type"
    (ngModelChange)="onInput()"
  ></app-radio-button-group>
</div>
