<div class="filter-bar">
  <app-input-box
    class="filter-bar__input"
    type="date"
    id="fromDate"
    name="fromDate"
    label="From"
    [attr.max]="values.toDate"
    [(ngModel)]="values.fromDate"
    (ngModelChange)="onInput()"
  ></app-input-box>
  <app-input-box
    class="filter-bar__input"
    type="date"
    id="toDate"
    name="toDate"
    label="To"
    [attr.min]="values.fromDate"
    [(ngModel)]="values.toDate"
    (ngModelChange)="onInput()"
  ></app-input-box>
  <app-radio-button-group
    id="type"
    [column]="true"
    [options]="seriesTypeOptions"
    [(ngModel)]="values.type"
    (ngModelChange)="onInput()"
  ></app-radio-button-group>
</div>
