@import '_variables';
@import '_extensions';

.nav-link {
  @extend %center-contents;
  width: 100%;
  height: $nav-link--height;
  padding: $app--padding;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.sidebar__link {
  font-size: 1.25em;
  text-decoration: none;
}

.series-link {
  justify-content: flex-start;
  height: auto;
  width: fit-content;
}

.purchase-item__link {
  height: auto;
  color: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

.unbought-volume__link {
  height: auto;
  padding: 2px 0;
  margin: 0;
  border: none;
}
