@import '_variables';
@import '_extensions';

.nav-link {
  @extend %center-contents;
  width: 100%;
  height: $nav-link--height;
  padding: $app--padding;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.sidebar__link {
  font-size: 1.25em;
  text-decoration: none;
}
