<div [class]="selectClasses">
  <select
    #select
    class="select-box__input"
    [attr.placeholder]="'Please select a ' + label"
    id="{{ id }}-select-box"
    [attr.name]="name"
    [attr.disabled]="disabled"
    [attr.required]="required"
    [(ngModel)]="selectedValue"
    (ngModelChange)="handleChange($event)"
  >
    <option *ngIf="!required" class="select-box__option" [value]="null">
      None
    </option>
    <option
      *ngFor="let item of options"
      class="select-box__option"
      [value]="item.value"
    >
      {{ item.text }}
    </option>
  </select>
  <label for="{{ id }}-select-box">{{ label }}</label>
</div>
