<div [class]="selectClasses">
  <select
    #select
    class="select-box__input"
    attr.aria-placeholder="Please select a {{label}}"
    [attr.id]="id"
    [attr.name]="name"
    [(ngModel)]="value"
    [attr.disabled]="disabled"
    [attr.required]="required"
    (ngModelChange)="handleChange($event)"
  >
    <option
      *ngIf="!required"
      [value]="null"
      class="select-box__option"
    >
      None
    </option>
    <option
      *ngFor="let item of options"
      [value]="item.value"
      class="select-box__option"
    >
      {{item.text}}
    </option>
  </select>
  <label [for]="id">{{label}}</label>
</div>