<div [class]="selectClasses">
  <select
    class="select-box__input"
    [id]="id"
    [name]="name"
    [ngModel]="value"
    [disabled]="disabled"
    [required]="required"
    (ngModelChange)="handleChange($event)"
  >
    <option
      *ngIf="!required"
      [value]=""
      class="select-box__option"
    >
      None
    </option>
    <option
      *ngIf="required && (value !== 0 && !value)"
      [value]=""
      class="select-box__option"
    >
      Please select a {{label}}
    </option>
    <option
      *ngFor="let item of options"
      [value]="item.value"
      class="select-box__option"
    >
      {{item.text}}
    </option>
  </select>
  <label [for]="id">{{label}}</label>
</div>