// Robin
$robin--timeskip-top: #1e2a65;
$robin--timeskip-skirt: #e68c80;
$robin--timeskip-pattern: darken(#add9a0, 46.5%);
$robin--timeskip-shoes: #c4545c;

// Robin Lighten
$robin--light-timeskip-top: lighten(#1e2a65, 10%);
$robin--light-timeskip-skirt: lighten(#e68c80, 15%);

// Whiskey peak
$robin--whiskey-peak-outfit: #402a5f;
$robin--whiskey-peak-belt: #89dbd1;
$robin--whiskey-peak-trim: lighten(#c49452, 2%);

// Enies lobby
$robin--enies-lobby-base: #000;
$robin--enies-lobby-shine: #717171;
$robin--enies-lobby-pattern: #a797c6;

// Shades
$white: #fff;
$grey95: #f2f2f2;
$grey94: #efefef;
$grey87: #dedede;
$grey80: #ccc;
$grey67: #aaa;
$grey40: #666;
$onyx: #1f1f1f;
$black: #000;

// Blues
$mostly-blue: #0000ee;
$cyan: #0ff;

// Greens
$green: #0f0;

// Oranges
$orange: #ffa500;

// Reds
$red: #f00;
