.form {
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  &__input {
    display: flex;
    max-width: 500px;

    &--integer {
      max-width: 140px;
    }
    &--float {
      max-width: 150px;
    }
    &--date {
      max-width: 170px;
    }
  }
  &__array-item-wrapper {
    display: flex;
    align-items: center;
  }
}
