@import '_variables.scss';
@import '_mixins.scss';

.form {
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  &__group {
    display: flex;
    @include respond-to(sm) {
      flex-direction: column;
    }
    @include respond-to(xs) {
      flex-direction: column;
    }
  }
  &__input {
    display: flex;
    max-width: 500px;

    &--integer {
      max-width: 140px;
    }
    &--float {
      max-width: 150px;
    }
    &--date {
      max-width: 160px;
      margin: {
        top: -3px;
        left: -3px;
        right: 6px;
      }

      @include respond-to(sm) {
        margin-top: -1px;
        margin-bottom: 5px;
      }
      @include respond-to(xs) {
        margin-top: -1px;
        margin-bottom: 5px;
      }
    }
  }
  &__array-item-wrapper {
    display: flex;
    align-items: center;

    @include respond-to(sm) {
      align-items: flex-start;
      margin-bottom: 0.8em;
    }
    @include respond-to(xs) {
      align-items: flex-start;
      margin-bottom: 0.8em;
    }
  }
  &__button-group {
    height: 100%;
    justify-content: center;
  }
}
