@mixin lightenOrDarken($key, $colour) {
  $percentage: 10%;
  $colour-lightness: lightness($colour);
  @if $colour-lightness < 20% or $colour-lightness > 80% {
    $percentage: 25%;
  }

  @if $colour-lightness < 50% {
    #{$key}: lighten($colour, $percentage);
  } @else {
    #{$key}: darken($colour, $percentage);
  }
}

@mixin respond-to($media) {
  @if $media == xs {
    @media (max-width: $screen-xs-max) {
      @content;
    }
  } @else if $media == sm {
    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $screen-md) and (max-width: $screen-md-max) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $screen-lg) {
      @content;
    }
  }
}
