@import './_variables';
@import './_mixins';

@each $theme, $values in $theme-maps {
  $base-background: map-get($values, base-background);
  $base-colour: map-get($values, base-colour);
  $primary-background: map-get($values, primary-background);
  $primary-colour: map-get($values, primary-colour);
  $active-background: map-get($values, active-background);
  $active-colour: map-get($values, active-colour);
  $faded-out: map-get($values, faded-out);

  .theme--#{$theme} {
    background-color: $base-background;
    color: $base-colour;

    // for charts
    text {
      fill: $base-colour;
    }

    // Navigation
    .nav-link {
      color: $base-colour;

      &:hover:not(.fake-button),
      &--active:not(.fake-button) {
        color: $active-colour;
      }
    }

    .multi-select__dropdown-container,
    .select-box__input,
    .dropdown__menu,
    .autocomplete__menu {
      background-color: $base-background;
    }
    .dropdown__arrow {
      border-bottom-color: $base-background !important;
    }
    .app-settings {
      background-color: $base-background;
      color: $base-colour;
    }

    // Primary
    .themed-background,
    .button.button--themed,
    .fake-button.fake-button--themed {
      background-color: $primary-background;
      color: $primary-colour;
    }
    .themed-background--reversed,
    .button.button--themed_reversed,
    .fake-button.fake-button--themed_reversed {
      color: $primary-background;
      background-color: $primary-colour;
    }
    .button.button--themed,
    .fake-button.fake-button--themed {
      &:hover {
        @include lightenOrDarken('background-color', $primary-background);
      }

      &_reversed:hover {
        @include lightenOrDarken('background-color', $primary-colour);
      }
    }
    .has-float-label input,
    .has-float-label select,
    .suggestion--active {
      border-color: $primary-background;
    }
    svg.themed-background text {
      fill: $primary-colour;
    }
    .radio__input {
      color: $primary-background;
    }

    .sidebar__link {
      color: $primary-colour;

      &:hover,
      &.nav-link--active {
        background-color: $active-background;
        color: $active-colour;
      }
    }

    // Tabs
    .tabs__container {
      border-top: 1px solid $primary-background;
    }
    .tab:not(.tab--active):not(:hover) {
      background-color: $faded-out;
      border-color: $faded-out;
      border-bottom: none;
    }
    .tab:hover,
    .tab--active {
      border: {
        color: $primary-background;
        bottom-color: $base-background;
      }
    }

    .purchase-item:not(.purchase-item--header):hover {
      background-color: opacify($active-colour, 0.3);
      color: $white; // This works for all themes. Currently.
    }
    .suggestion.suggestion--active {
      border-color: $active-colour;
    }
  }
}
