@import './_variables';

@each $theme, $values in $theme-maps {
  $base-background: map-get($values, base-background);
  $base-colour: map-get($values, base-colour);
  $primary-background: map-get($values, primary-background);
  $primary-colour: map-get($values, primary-colour);
  $active-background: map-get($values, active-background);
  $active-colour: map-get($values, active-colour);
  $faded-out: map-get($values, faded-out);

  .theme--#{$theme} {
    background-color: $base-background;
    color: $base-colour;

    // Navigation
    .nav-link {
      color: $base-colour;

      &:hover,
      &--active {
        color: $active-colour;
      }
    }

    // Primary
    .themed-background {
      background-color: $primary-background;
      color: $primary-colour;
      &--reversed {
        color: $primary-background;
        background-color: $primary-colour;
      }
    }
    .has-float-label input,
    .has-float-label select,
    .suggestion--active {
      border-color: $primary-background;
    }
    svg.themed-background text {
      fill: $primary-colour;
    }

    .sidebar__link {
      color: $primary-colour;

      &:hover,
      &.nav-link--active {
        background-color: $active-background;
        color: $active-colour;
      }
    }
    // THEMING HERE
  }
}
