@import './_colours';

// Screen Variables
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Prevent overlapping
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

//z-index
$z-index: (
  wafer: 1,
  above-siblings: 10,
  header: 50,
  sidebar: 50,
  popover: 100,
  menu: 250,
  alert: 1000
);

// App Variables
$app--darken-amount: 5%;
$app--font-size: 16px;
$app--margin: 0.5em;
$app--margin-large: $app--margin * 3;
$app--margin-small: 0.2em;
$app--placeholder-border: 1px solid transparent;
$app--padding: 0.33em;
// Status Colours
$app--failure-background-colour: $red;
$app--failure-colour: $white;
$app--info-background-colour: $cyan;
$app--success-background-colour: $green;
$app--success-colour: $white;
$app--warning-background-colour: $orange;
// Component Variables
$accent--colour: $robin--timeskip-shoes;
$anchor--colour: $mostly-blue;
$anchor--colour-hover: lighten($mostly-blue, $app--darken-amount * 3);
$header--height: 50px;
$nav-link--height: 50px;
$sidebar--width: 50px;
$ui-messaging: (
  success: (
    background: $app--success-background-colour,
    colour: #000,
    icon: '\2713'
  ),
  error: (
    background: $app--failure-background-colour,
    colour: #fff,
    icon: '\0021'
  ),
  warning: (
    background: $app--warning-background-colour,
    colour: #000,
    icon: '\26a0'
  ),
  info: (
    background: $app--info-background-colour,
    colour: #000,
    icon: '\2139'
  )
);
// Themes
$theme-maps: (
  one: (
    base-background: $robin--light-timeskip-skirt,
    base-colour: #000,
    primary-background: $robin--light-timeskip-top,
    primary-colour: $robin--light-timeskip-skirt,
    active-background: $robin--light-timeskip-skirt,
    active-colour: $robin--timeskip-pattern,
    faded-out: $grey80
  ),
  two: (
    base-background: #fff,
    base-colour: $robin--whiskey-peak-outfit,
    primary-background: $robin--whiskey-peak-outfit,
    primary-colour: $robin--whiskey-peak-belt,
    active-background: $robin--whiskey-peak-trim,
    active-colour: $robin--whiskey-peak-outfit,
    faded-out: $grey80
  ),
  three: (
    base-background: $robin--enies-lobby-base,
    base-colour: #fff,
    primary-background: darken($robin--enies-lobby-shine, 14%),
    primary-colour: lighten($robin--enies-lobby-pattern, 10.5%),
    active-background: $robin--enies-lobby-base,
    active-colour: $robin--enies-lobby-pattern,
    faded-out: $grey80
  )
);
