@import './_variables';
@import './_extensions';
@import './_float-label';
@import './_ripple';
@import './_form';
@import './_themes';

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
button {
  @extend %app-font-family;
  font-size: $app--font-size;
}
main {
  min-height: calc(100vh - #{$header--height});
  padding: {
    top: $header--height;
    left: $sidebar--width;
  }
  overflow-x: hidden;
}

// Helpers

.flex-spacer {
  flex: 1;
}

.padding {
  padding: $app--padding;
}

.button-group {
  display: flex;
  align-items: center;

  &--stacked {
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: $app--margin-small;
    }
  }

  &--right {
    justify-content: flex-end;
  }
}

.relative {
  position: relative;
}
