<div [class]="classes">
  <input
    #input
    placeholder=" "
    autoComplete="off"
    [attr.type]="type"
    [attr.id]="id"
    [attr.name]="name"
    [attr.accept]="accept"
    [attr.min]="min"
    [attr.max]="max"
    [attr.maxLength]="maxLength"
    [attr.readOnly]="readOnly"
    [attr.step]="step"
    (input)="change($event)"
    (focus)="handleFocus($event)"
    (blur)="handleBlur($event)"
    (keydown)="handleKeyDown($event)"
  />
  <label for="{{name}}">{{label}}</label>
  <app-rbn-button
    *ngIf="input.value && isTextInput"
    [class]="clearClasses"
    [size]="small"
    [icon]="icon"
    (click)="clearAndFocusInput($event)"
  ></app-rbn-button>
  <span
    *ngIf="showCount"
    class="input-box__count"
  >
    {{countText}}
  </span>
</div>