<div [class]="classes">
  <input
    #input
    id="{{ id }}-input"
    autoComplete="off"
    [attr.type]="type"
    [attr.placeholder]="placeholder"
    [attr.name]="name"
    [attr.accept]="accept"
    [attr.min]="min"
    [attr.max]="max"
    [attr.maxLength]="maxLength"
    [attr.readOnly]="readOnly"
    [attr.step]="step"
    [attr.pattern]="pattern"
    (input)="change($event)"
    (focus)="handleFocus($event)"
    (blur)="handleBlur($event)"
    (keydown)="handleKeyDown($event)"
  />
  <label for="{{ id }}-input">{{ label }}</label>
  <app-rbn-button
    *ngIf="input.value && isTextInput"
    [class]="clearClasses"
    size="small"
    [icon]="icon"
    name="Clear Input"
    [waiAriaLabel]="'Clear input'"
    (click)="clearAndFocusInput()"
  ></app-rbn-button>
  <span *ngIf="showCount" class="input-box__count">
    {{ countText }}
  </span>
</div>
