<div class="importer">
  <app-loading-bouncer *ngIf="isLoading"></app-loading-bouncer>
  <div class="importer__actions">
    <app-input-box
      type="file"
      accept=".csv"
      label="Import"
      name="import"
      [(ngModel)]="importData"
      (change)="onFileSelect($event)"
    ></app-input-box>
    <app-radio-button-group
      id="type"
      class="importer__type-options"
      [column]="true"
      [options]="seriesTypeOptions"
      [(ngModel)]="type"
    ></app-radio-button-group>
  </div>
  <div class="importer__preview">
    Placeholder to display import preview
  </div>
</div>