@import '_variables';

.exporter,
.importer {
  display: flex;
  flex-direction: column;
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__type-options {
    margin: 0 $app--margin-large;
  }

  &__preview {
    position: relative;
    padding: $app--padding;
  }

  &__message {
    font-size: 0.8em;
    opacity: 0.75;
  }
}

.user-actions {
  &__inputs {
    display: flex;
  }
}
