@import '_variables';
@import '_mixins';

.dashboard {
  display: flex;

  @include respond-to(sm) {
    flex-direction: column;
    &__column {
      flex-basis: 100%;
      &--left {
        flex-basis: 100%;
      }
    }
  }
  @include respond-to(xs) {
    flex-direction: column;
    &__column {
      flex-basis: 100%;
      &--left {
        flex-basis: 100%;
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1 1 78%;
    margin: 0 1%;

    &--left {
      flex-basis: 18%;
    }
  }

  &__filters {
    display: flex;
    justify-content: center;
  }

  &__cards {
    display: flex;
    margin: 25px 0;
    @include respond-to(lg) {
      flex-direction: column;
    }
    @include respond-to(md) {
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px 0;
  }

  &__title {
    display: flex;
    justify-content: center;
    font: {
      weight: bold;
      size: 1.2em;
    }
  }

  &__chart {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
  }

  &__proportions {
    display: flex;
    flex-wrap: wrap;
    @include respond-to(xs) {
      flex-direction: column;
    }
  }
}

.charts__title {
  display: flex;
  width: 100%;

  font: {
    weight: bold;
    size: 1.3em;
  }

  &--subtitle {
    font: {
      weight: normal;
      size: 1.1em;
    }
  }
}

.unbought-volumes {
  padding: 5px;
  border: 1px dashed transparent;

  &__title {
    margin: 5px;
    font-size: 1.2em;
  }

  &__subtitle {
    margin: 5px 8px;
    font-size: 0.8em;
  }

  &__item {
    border: none;
    border-top: 1px dashed transparent;
  }
}
