<div class="dashboard">
  <app-loading-bouncer *ngIf="isLoading"></app-loading-bouncer>
  <div class="dashboard__filters">
    <app-input-box
      type="date"
      label="From"
      id="fromDate"
      name="fromDate"
      [min]="whenRecordsBegan"
      [max]="filters.toDate"
      [(ngModel)]="filters.fromDate"
      (ngModelChange)="onUserInput()"
    ></app-input-box>
    <app-input-box
      type="date"
      label="To"
      id="toDate"
      name="toDate"
      [min]="filters.fromDate"
      [(ngModel)]="filters.toDate"
      (ngModelChange)="onUserInput()"
    ></app-input-box>
  </div>
  <div class="dashboard__cards">
    <div *ngFor="let agg of dashboard.aggregates" class="dashboard__card">
      <div class="dashboard__title">{{ agg.label }}</div>
      <app-aggregate-widget
        [items]="agg.statistics"
        [center]="true"
      ></app-aggregate-widget>
    </div>
  </div>
  <div class="dashboard__charts" #chartsRef>
    <div class="dashboard__chart">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="dashboard.byMonthCounts"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="'autoScale'"
        (select)="onChartClick($event)"
      >
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
