.dashboard {
  display: flex;
  flex-direction: column;

  &__filters {
    display: flex;
    justify-content: center;
  }

  &__cards {
    display: flex;
    margin: 25px 0;
  }

  &__card {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    display: flex;
    justify-content: center;
    font: {
      weight: bold;
      size: 1.2em;
    }
  }

  &__charts {
    display: flex;
    flex: 1 1 100%;
  }
  &__chart {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
  }
}
