@import '_extensions';

.suggestion {
  @extend %standard-border;

  &__button {
    display: flex;
    width: 100%;
  }
  &__text {
    display: flex;
    width: 100%;
    white-space: pre;
  }
}

.highlight {
  font-weight: bold;
}
