@import '_variables';
@import '_extensions';

$full-size-minus-padding: calc(100% - 5px);

.multi-select {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100px;
  min-height: 25px;
  border: none;

  &__display {
    padding: 5px;
    min-height: 35px;
    margin-bottom: -3px; // dont know why it doesnt line up
    box-sizing: content-box;
    cursor: pointer;

    &::after {
      -webkit-transform: translateY(-50%);
      content: '\2335';
      font-weight: 700;
      pointer-events: none;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__list {
    padding: $app--padding;
    margin: $app--margin 0;
    width: 100%;
    list-style-type: none;
    z-index: map-get($z-index, above-siblings);
  }

  &__separator {
    height: 1px;
    border-bottom: 1px solid;
    opacity: 0.2;
  }

  &__dropdown-container {
    @extend %standard-shadow;
    display: none;
    position: absolute;
    top: $full-size-minus-padding;
    left: 5px;
    width: $full-size-minus-padding;
    z-index: map-get($z-index, above-siblings);

    &--is-open {
      display: flex;
    }
  }
}
.display__input {
  display: flex;
  flex: 1 0 100%;
  background: inherit;
  box-sizing: border-box;
  cursor: pointer;
}
