<div class="multi-select">
  <div class="multi-select__display display has-float-label">
    <input
      type="text"
      autoComplete="off"
      class="display__input"
      id="{{ id }}-multiselect"
      [attr.name]="name"
      [attr.placeholder]="placeholder"
      [attr.value]="displayValue"
      tabIndex="0"
      readOnly
      (click)="handleToggleOpen($event)"
      (keydown)="handleToggleOpen($event)"
    />
    <label for="{{ id }}-multiselect">{{ label }}</label>
  </div>
  <div
    [class]="dropdownClasses"
    [ngClass]="{ 'multi-select__dropdown-container--is-open': this.isOpen }"
    [attr.aria-hidden]="!isOpen"
    (appOutsideClick)="handleToggleClose()"
  >
    <app-tab-trap
      [isActive]="isOpen"
      [firstId]="selectAllName + '-tickbox'"
      [lastId]="lastCheckBoxId"
      (deactivate)="updateFocusOnClose()"
    >
      <ul class="multi-select__list">
        <li>
          <app-tickbox
            [id]="selectAllName"
            [name]="selectAllName"
            [(ngModel)]="hasAllSelected"
            (ngModelChange)="handleSelectAll($event)"
          >
            Select All
          </app-tickbox>
        </li>
        <li class="multi-select__separator"></li>
        <li *ngFor="let op of options; let i = index">
          <app-tickbox
            [id]="getName(i)"
            [name]="getName(i)"
            [checked]="value.includes(op.value)"
            (change)="handleOptionChange(op.value)"
            >{{ op.text }}</app-tickbox
          >
        </li>
      </ul>
    </app-tab-trap>
  </div>
</div>
